.app.dark {
    --bg-color: #1e1d1d;
    --inverted-bg-color: #f5b268;
    --primary-color: #049604;
    --secondary-color: #04ff04;
    --inverted-primary-color: #650460;
    --inverted-secondary-color: #0449e0;
}
