.app_dark_theme {
    --bg-color: #1c79c9;
    --inverted-bg-color: #b9b6b6;
    --primary-color: #c2f8a6;
    --secondary-color: #04ff04;
    --inverted-primary-color: #5d76ec;
    --inverted-secondary-color: #626ca2;
}
