:root {
    --bg-color: #b9b6b6;
    --inverted-bg-color: #46ebf1;
    --primary-color: #5d76ec;
    --secondary-color: #626ca2;
    --inverted-primary-color: #286011;
    --inverted-secondary-color: #04ff04;
}
