:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #f5b268;
    --primary-color: #041c65;
    --secondary-color: #0449e0;
    --inverted-primary-color: #720496;
    --inverted-secondary-color: #04ff04;
}
